@startuml

title "xx功能er图"

skinparam linetype ortho
skinparam packageStyle Rectangle

'自定义实体
!define Table(name,desc) class name as "desc" << (T,#FFAAAA) >>
!define this_time_add(x) <color:red><b>x</b></color>


__content__

@enduml